@(title:String)
@CommentTemplate(title){
<div class="commentBox">
    <div class="commentTitle">
    <div>
       نوشته شده در تاریخ 1/1/94 توسط لاله
    <span class="user chat">
        امتیاز از 10: 2
    </span>
        </div>
        </div>
    <div>
        پروژه بسیار نامناسب است. دستیار بی نظم حجم زیاد و توقعات نابحا
    </div>
</div>
    <div class="commentBox">
    <div class="commentTitle">
    <div>
       نوشته شده در تاریخ 1/1/94 توسط لاله
    <span class="user chat">
        امتیاز از 10: 2
    </span>
        </div>
        </div>
    <div>
        پروژه بسیار نامناسب است. دستیار بی نظم حجم زیاد و توقعات نابحا
    </div>
</div>
}


