@(title:String)(user: LogicClasses.Users)(course: LogicClasses.CourseGroupLogic)

@CourseTemplate(title)(user){
<h1></h1>
}{

<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
 <p class="name">
     @course.getName()
 </p>
    <p class="name">
    مدرس:
        @course.getProfessorName()
    </p>
    <p class="name">
زمان برگزاری کلاس ها: 
@course.getTime()
    </p>
    <p class="name">
    مکان کلاس:
     @course.getPlace()
    </p>
    <p class="name">
        دانشکده مهندسی کامپیوتر
    </p>
</div>

</div>
}