@(title:String)(user: LogicClasses.Users)

@CommentTemplate(title)(user){
    <div class="commentBox">
    <div class="commentTitle">
        <div>
           بازخورد برای پروژهای درس
        </div>
    <span class="dropdown user chat">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
امتیاز

 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
     <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>

  </ul>
</span>
        </div>
        <textarea placeholder="لطفا متن بازخورد را در این جا بنویسید"></textarea>
        <br>
        <button class="btn">
            ثبت
        </button>

</div>

}