<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>
    ثبت نظر
    </title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a>
            خروح
        </a></li>
          <li><a>
              شما در قالب دانشجو وارد سایت شده اید.
          </a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a>
              تغییر رمز
          </a></li>

         <li class="active"><a href="#">
لیست دروس
         </a></li>
        <li><a>
درس های من
        </a>
        </li>
          <li><a>
              اطلاعات من
          </a></li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main">
<div class="leftBar col-md-2">
    <table class="table table-hover" dir="rtl">
        <tr><td>
            منابع
        </td></tr>
        <tr class="active"><td>
            دستیاران
        </td></tr>
        <tr><td>
            لینک های کمکی
        </td></tr>
        <tr><td>
            پروژه ها
        </td></tr>
        <tr><td>
            تمرین ها
        </td></tr>
        <tr><td>
            آزمون ها
        </td></tr>
        <tr><td>
            نمرات
        </td></tr>
        <tr><td>
            برنامه تمرین ها
        </td></tr>
        <tr><td>
            برنامه درس
        </td></tr>
        <tr><td>
            شرح جلسات
        </td></tr>
        <tr><td>
            بازخوردها
        </td></tr>
    </table>
</div>
</div>
</div>
<div class="rightBar col-md-7 col-md-offset">


    <div class="commentBox">
    <div class="commentTitle">
        <div>
           بازخورد برای پروژهای درس
        </div>
    <span class="dropdown user chat">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
امتیاز

 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
     <li><a href="#">3</a></li>
       <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>

  </ul>
</span>
        </div>
        <textarea placeholder="لطفا متن بازخورد را در این جا بنویسید"></textarea>
        <br>
        <button class="btn">
            ثبت
        </button>

</div></div>

</div>
</body>
</html>