@(title:String)(user: LogicClasses.Users)
@CourseTemplate(title: String)(user){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
    <div class="course">
        <span class="col-md-3"><div>
مهلت ارسال: 93/2/7
</div>
            <div>
                <button class="btn">
                    2 نمره
                </button>
</div>
        </span>
        <span>
            <div>
            <a>
                پروژه اول فاز اول
            </a>
</div>
            <div>
                آشنایی با مستندسازی و تعیین موارد کاربردی
</div>
        </span>

        <br>
                <span class="col-md-3"><div>
مهلت ارسال: 93/2/7
</div>
            <div>
                <button class="btn">
                    2 نمره
                </button>
</div>
        </span>
        <span>
            <div>
            <a>
پروزه اول فاز دوم
            </a>
</div>
            <div>
                آشنایی با مستندسازی و تعیین موارد کاربردی
</div>
        </span>
    </div>
    <div class="course">
        <span class="col-md-3"><div>
مهلت ارسال: 93/2/7
</div>
            <div>
                <button class="btn">
                    2 نمره
                </button>
</div>
        </span>
        <span>
            <div>
            <a>
                پروژه اول فاز اول
            </a>
</div>
            <div>
                آشنایی با مستندسازی و تعیین موارد کاربردی
</div>
        </span>

        <br>
                <span class="col-md-3"><div>
مهلت ارسال: 93/2/7
</div>
            <div>
                <button class="btn">
                    2 نمره
                </button>
</div>
        </span>
        <span>
            <div>
            <a>
پروزه اول فاز دوم
            </a>
</div>
            <div>
                آشنایی با مستندسازی و تعیین موارد کاربردی
</div>
        </span>
    </div>
    </div>
</div>
}

