@(title:String)
@CourseTemplate(title){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
    <div class="courseList">
        <div class="gradeBox">
    <div class="title">
        نمرات تمرینها
    </div>
        <div class="linkGrade"><a>
            تمرین اول
        </a></div>
        <div><a class="linkGrade">
            تمرین اول
        </a></div>
</div>
        <div class="RtoL middle">
            <button class="btn">
            افزودن نمره
        </button>
             <input class="input-form">
        نمره:


</div></div>

</div>
}