@(title:String)
@CourseTemplate(title){
<h1></h1>}{
<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
    <div>
    <input class="inline" value="فاز اول پروژه طراحی شئ گرا">

       عنوان پروژه
</div>
    <div>
        <input class="inline" value="آشنایی با مستند سازی و موارد کابرد">
        توضیحات
    </div>
    <div>
        <button class="btn">
            بارگذاری
        </button>
        <a>
            صورت پروژه
        </a>
    </div>
    <div>
        <input class="inline" value="سال/ماه/روز">
        مهلت ارسال
        </div>
    <div>

        <input class="inline" value="">
        ارسال با تاخیر
        <input class="inline" value="سال/ماه/روز">
        ضریب تاخیر
        <input class="inline" type="checkbox">
      </div>
    <div>
        <input class="inline" value="">
        بارم
        </div>
    <button class="btn middle">
        ثبت
    </button>

</div>

</div>
}
