@(title:String)(user: LogicClasses.Users)
@CourseTemplate(title)(user){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
    <div>
        <button class="btn">
            حذف
        </button>
    <a>
        کتاب زبان اصلی طراحی شئ گرای سیستم ها
    </a>
        </div>
    <br>
    <div>
        <button class="btn">
            حذف
        </button>
        <a>
        کتاب هنر برنامه نویسی
    </a></div>
    <button class="btn middle">
        افزودن منبع
    </button>
    </div>
</div>
}