@(title:String)
@CourseTemplate(title){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
<ul dir="rtl">
    <li>
        مقدمه
<a>
    حذف
</a>
    </li>
    <ul>
        <li>
            متدولوژی یو پی
<a>
    حذف
</a>
        </li>
        <li>
            متدولوژی چابک
        <a>
            حذف
        </a>
        </li>
        <li>
            <input class="formControl">
            <button class="btn">
                افزودن
            </button>
        </li>
    </ul>
    <li>
آشنایی با انوع متدولوژی ها
   <a>
       حذف
   </a>
    </li>

    <li>
        <input class="formControl">
        <button class="btn">
            افزودن
        </button>
    </li>
</ul>
</div>

</div>
}