@(title:String)(user: LogicClasses.Users)
@CourseTemplate(title)(user){
<h1></h1>}{
<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
    <div class="course">
        <span class="col-md-3"><div>
مهلت ارسال: 93/2/7
</div>
            <div>
                <button class="btn">
                    2 نمره
                </button>
</div>
        </span>
        <span>
            <div>
            <a>
                پروژه اول فاز اول
            </a>
</div>
            <div>
                آشنایی با مستندسازی و تعیین موارد کاربردی
</div>
        </span>

        <br>
        </span>

    <div>
    <button class="btn">
        بارگذاری پاسخ
    </button></div><br>
    <div>


    <span class="middle left">
        <button class="btn">
            ویرایش
        </button>
        <button class="btn">
            حذف
        </button>
    </span>
         <span>
            <button class="btn">
مشاهده پاسخ دانشجویان
    </button>
        </span>
    </div>
        </div>
    <button class="btn middle">
افزودن پروژه
    </button>
    </div>

</div>
}