@(title: String)(body: Html)
<html>
<head lang="en">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>
        @title
    </title>

</head>
@body
</html>
