@(title: String)

@BaseUser(title){


<div class="main">
    <div class="leftBar col-md-2">

    </div>
</div>

<div class="rightBar col-md-7 col-md-offset">
    <div>
        <button class="btn btn-default">
            جست و جو
        </button>
        <span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      استاد
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
  </ul>
</span>
        <span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      نام درس
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">
          سال تحصیلی
      </a></li>
      <li>

      </li>
      <li><a href="#">

      </a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
  </ul>


</span>
        <span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      دانشکده ارائه دهند
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
  </ul>
</span>

        <span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      نبمسال تحصیلی
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
  </ul>
</span>
        <input type="checkbox">
    </div>
    <div class="courseList">
        <div class="course">
            <span class="col-md-9">
                <div>
                    نیمسال دوم 92-93
                </div>
                <div>
                    دانشکده مهندسی کامپیوتر
                </div>

            </span>
            <span class="col-md-3">
                <div><a href="CourseIndex/courseIndex.html">
                    طراحی شئ گرای سیستم ها
                </a></div>

            </span>
            <span>
                <p>
                    مدرس: دکتر رامسین
                </p>
            </span>
        </div>
        <div class="course">
            <span class="col-md-9">
                <div>
                    نیمسال دوم 92-93
                </div>
                <div>
                    دانشکده مهندسی کامپیوتر
                </div>

            </span>
            <span class="col-md-3">
                <div><a href="CourseIndex/courseIndex.html">
                    طراحی شئ گرای سیستم ها
                </a></div>

            </span>
            <span>
                <p>
                    مدرس: دکتر رامسین
                </p>
            </span>
        </div>
        <div class="course">
            <span class="col-md-9">
                <div>
                    نیمسال دوم 92-93
                </div>
                <div>
                    دانشکده مهندسی کامپیوتر
                </div>

            </span>
            <span class="col-md-3">
                <div><a href="CourseIndex/courseIndex.html">
                    طراحی شئ گرای سیستم ها
                </a></div>

            </span>
            <span>
                <p>
                    مدرس: دکتر رامسین
                </p>
            </span>
        </div>
    </div>

</div>

}