@(title:String)(user: LogicClasses.Users)
@InboxTemplate(title)(user){
<div class="rightBar col-md-7 col-md-offset">
<div class="courseList">
<div class="courseInd">
    <div class="user">

            پگاه جندقی
 در تاریخ 2/2/92 ارسال شده:
        </div>
    <div>
        hey look at new version of the project it is attached
        <br>
        good luck
        <br>
    </div>


</div>
    <div class="courseInd">
        <div class="user">

       لاله
    ارسال شده در تاریخ 3/2/93
        </div>
    <div >
        hey look at new version of the project
    </div>


        </div>
</div>
</div>
}