@(title: String)

@FormTemplate(title){
<div class="main">
<div class="leftBar col-md-4">

</div>
</div>
<div class="rightBar col-md-4 col-md-offset">
    <div class="courseList"><div>
         <span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
 انتخاب پروژه و فاز
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</span>
    </div>
    <div>
        <input class="form upForm">
        <button class="btn">
            انتخاب فایل
        </button>

    </div>
    <button class="btn middle">
        بارگذاری
</button>
</div>

</div>
}