@(title:String)
@CourseTemplate(title){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
    <div class="courseInd">
        <ul dir="rtl">
            <li>
                مقدمه
            </li>
            <ul>
                <li>
                    متدولوژی یو پی
                </li>
                <li>
                    متدولوژی چابک
                </li>
            </ul>
            <li>
                آشنایی با انوع متدولوژی ها
            </li>
        </ul>
    </div>

</div>
}