@(title:String)
@CourseTemplate(title){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
    <table class="table table-striped" dir="rtl">
        <tr>
            <td>
                نام
            </td>
            <td>
                شماره دانشجویی
            </td>
            <td>
                تمرین اول از 100 (2 نمره)
            </td>
            <td>
                تاخیر تمرین اول
            </td>
            <td>
                آزمونک اول از 20(1 نمره)
            </td>
            <td>
                پایان ترم از 50(3 نمره)
            </td>
            <td>
                میان ترم از 70(8 نمره)
            </td>
        </tr>
        <tr>
            <td>
                پگاه جندقی
            </td>
            <td>
                90105978
            </td>
            <td>
                100
            </td>
            <td>
                0
            </td>
            <td>
                -
            </td>
            <td>
                -
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                بیشینه نمرات
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</div>
}
