@(title:String)

@CourseTemplate(title){
<h1></h1>
}{
<div class="rightBar col-md-7 col-md-offset">
<div class="courseInd">
 <p class="name">
    فاز اول پروژه اول
 </p>
    <p class="name">
        توضیحات: آشنایی با مستندات
    </p>
    <p class="name"><a>
        صورت پروژه
    </a></p>
    <p class="name">
        مهلت ارسال: 2/2/94
    </p>
    <p class="name">
        2 نمره
    </p>
    <button class="btn middle">
        بارگذاری پروژه
    </button>
</div>

</div>
}